body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  position: relative; 
}

header {
  background: #000000; 
  background: -webkit-linear-gradient(to right, #434343, #000000);  
  background: linear-gradient(to right, #434343, #000000);  
  color: white;
  padding: 20px;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Change from center to space-between */
}

header img.logo {
  height: 60px;
  border-radius: 50%;
}

header h1 {
  margin: 0;
  font-size: 2em;
  background: linear-gradient(to right, #34e89e, #34e89e); 
  -webkit-background-clip: text; 
  background-clip: text; 
  color: transparent;
  text-align: center;
  z-index: 1;
  flex-grow: 1; /* Ensure h1 takes up available space */
  text-align: center; /* Center the text */
}

#nav {
  display: flex;
  align-items: center;
}

#nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.4s ease; 
}

#nav a:hover {
  color: rgb(255, 0, 0); 
}

main {
  padding: 20px;
}

#My_Dream, #More_Info_About_Me, #Fun_Fact {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  padding: 20px;
  flex-wrap: wrap;
}

#My_Dream img.me, #More_Info_About_Me img.Me_Formal, #Fun_Fact img.labutaw {
  width: 150px; 
  height: 150px; 
  margin-right: 20px; 
  border-radius: 50%;
}

#My_Dream h1, #More_Info_About_Me h2, #Fun_Fact h2 {
  margin: 0; 
  font-size: 1.5em; 
  flex: 1;
}

.square {
  width: 150px;
  height: 150px;
  background: linear-gradient(to bottom, #00e8fd, #00eaff, #00aeff); 
  border-radius: 10px; 
  margin-left: 20px; /* Ensure spacing between text and square */
}

#footer {
  position: relative; 
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #000000; 
  background: -webkit-linear-gradient(to right, #434343, #000000);  
  background: linear-gradient(to right, #434343, #000000);  
  color: white;
}

footer h2 {
  margin: 0;
  font-size: 1em; 
  color: white;
}

/* Media Queries for Responsiveness */
@media (min-width: 768px) {
  header h1 {
    font-size: 2.5em;
  }

  #My_Dream h1, #More_Info_About_Me h2, #Fun_Fact h2 {
    font-size: 2em;
  }
}

@media (min-width: 1024px) {
  header h1 {
    font-size: 3em;
  }

  #My_Dream h1, #More_Info_About_Me h2, #Fun_Fact h2 {
    font-size: 2.5em;
  }

  #nav a {
    font-size: 1.2em;
  }
}
